<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <script src="/js/home.js"></script>
</head>
<body>
  {{> header}}

  <section id="presentacion">
    <h1>Equipo Jorge-Samuel</h1>
    <p>Bienvenido al portfolio del equipo Jorge-Samuel de desarrollo freelance de aplicaciones web y móviles. Trabajamos de forma coordinada y organizada, con una comunicación fluida que nos permite crear una arquitectura y un código solido. Aquí podrás descubrir toda la información relevante acerca de cada uno de nosotros.</p>
  </section>

   <section id="seccion-principal">
     {{#each data}}
      <div class="contenedores" id="{{idMiembro}}" data-telefono="{{telefono}}"
      data-correo="{{correo}}", data-linkedin="{{linkedin_enlace}}" data-github="{{github_enlace}}">
      <a href="/detalle/{{idMiembro}}">
        <img src="/images/{{foto}}" alt="" width="150" height="150">
        <h3>{{nombreMiembro}} {{apellidos}}</h3>
        <p>Desarrollador Fullstack</p>
        </a>
      </div>
    {{/each}}
  </section>

{{>footer}}
</body>
</html>